<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
     <h1>
       <%= gravatar_for @user %>
       <%= @user.name %>
     </h1>
   </section>
   <section class="stats">
     <%= render 'shared/stats' %>
   </section>
   <button id="open-chatbox-button" class="btn btn-primary"> Send Message </button>
 </aside>
 <div class="col-md-8">
   <%= render 'follow_form' if user_signed_in? %>
   <% if @user.microposts.any? %>
   <h3>Microposts (<%= @user.microposts.count %>)</h3>
   <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
  <% end %>
</div>
</div>
<div id="chatbox" style="display: none;">
  <button class="nut-mo-chatbox" id="open-form-button"> Chat </button>
  <div class="Chatbox" id="myForm">
    <%= form_with model: @message, local: false, class: "form-container" do |form| %>
      <h1>Chatbox</h1>
      <%= form.label :content, 'Chat:' %>
      <%= form.text_area :content %>
      <%= form.hidden_field :chatroom_id, value: "#{@chatroom.id}" %>
      <%= form.hidden_field :receiver, value: "#{@user.id}" %>
      <%= form.submit "Send", class: "btn" %>
      <button type="button" class="btn nut-dong-chatbox" id="close-form-button">Minimize</button>
      <button type="button" class="btn nut-dong-chatbox" id="close-chatbox-button">Close</button>
    <% end %>
  </div>
  <div class="chat" id="myForm1">
    <p>Chat:</p>
    <% if @messages.count != 0 %>
      <%= render @messages %>
    <% end %>
    <p class="message"></p>
  </div>
</div>
<%= javascript_pack_tag 'custom'%>
